@CHARSET "ISO-8859-1";

body {
	font-family: Arial, Helvetica, sans-serif;
	background-image: url(imageBackground2.png);
	
}
h1{
	display: block;
	clear: left;
	text-align: center;
}
h2{
	text-align: center;
}
h4{
	margin-left: 12%;
}
table{
	margin: 0;
	width: 100%;
	border-collapse: collapse;
}
table td{
	text-align: center;
}
table, tr, th, td{
	border: 1px solid black;
} 
caption{
	border: 2px solid black;
}
.header{
	background-color: pink;
	float: left;
	width: 100%;
	margin-bottom: 1%;
}
#logo {
	width: 192px;
	height: 91px;
	float:left;
	padding-left: 32%;
}
#indexSection {
  display: flex;
  float: left;
  width: 44%;
  margin-left: 32%;
  margin-top: 6%;
}
#section{
	clear: both;
}
#footer {
	position: relative; 
	bottom:0px;
	margin-bottom: 10px;
	text-align:center;
	clear: both;
}
#header{
	display: block;
	float: left;	
}
#headerID{
	display: block;
	float: left;	
}
#mainHead{
	display: block;
	clear: left;
	text-align: center;
}

.feedbackratingCss{
	margin-left: 5%;
}
.indexMarginTop
{
	margin-top: 5%;
	margin-right: 6%;
	width: 40%;
}
.loginBtnClass
{
    border: none;
    width: 100%;
    height: 44px;
    border-radius: 9%;
    color: black;
    font-size: 1em;
    background-color: pink;
}
.signUpFormCss
{
	  width: 77%;
  	  margin-left: 12%;
  	  margin-top: 3%;
}
.propertyClassFname
{	
	margin-left: 11.6%;
}
.propertyClassLname{	
	margin-left: 11.6%;
}
.propertyClassEmail{
    margin-left: 15.4%;
}
.propertyClassStreet{
    margin-left: 14.9%;
}
.propertyClassCity{
	margin-left: 16.4%;
}
.propertyClassState{
	margin-left: 15.4%;
}
.propertyClassZip{
	margin-left: 13.1%;
}
.propertyClasspNo{
	margin-left: 9.1%;
}
.propertyClassPass{
	margin-left: 12.5%;
}
.propertyClassCpass{
	margin-left: 6.5%;
}
#signupBtn{
	border: none;
 	width: 15%;
  	height: 44px;
  	border-radius: 9%;
  	color: black;
  	font-size: 1em;
  	margin-left: 41%;
  	background-color: pink;
}
.loginFormCss{
  width: 26%;
  margin-left: 37%;
  margin-top: 3%;
}
.loginpropertyEmail{
	margin-left: 12%;
  	width: 41%;
}
.loginpropertyPassword{
  margin-left: 4%;
  width: 41%;
}
#loginBtn{
  border: none;
  width: 35%;
  height: 44px;
  border-radius: 9%;
  color: black;
  font-size: 1em;
  margin-left: 29%;
  background-color: pink;
}
.paymentFormCss{
  width: 38%;
  margin-left: 32%;
  margin-top: 3%;
}
.paymentPropertyOrderId{
  margin-left: 17%;
  width: 15%;
}
.paymentPropertyTotal{
  margin-left: 21%;
  width: 15%;
}
.paymentPropertyCardNumber{
	margin-left: 10%;
  	width: 20%;
}
.paymentPropertyExpirationDate{
  margin-left: 8%;
  width: 20%;
}
.paymentPropertySecurityNumber{
	margin-left: 7%;
  	width: 10%;	
}
#paymentBtn{
  border: none;
  width: 35%;
  height: 44px;
  border-radius: 9%;
  color: black;
  font-size: 1em;
  margin-left: 29%;	
  background-color: pink;
}
.feedbackFormCss{
	width: 26%;
  	margin-left: 37%;
  	margin-top: 3%;
}
.feedbackPropertyOrderId{
  margin-left: 9%;
  width: 19%;
}
.feedbackPropertyPositive{
  margin-left: 11%;
  width: 47%;	
}
.feedbackPropertyNegative{
  margin-left: 9%;
  width: 47%;	
}
#feedbackBtn{
  border: none;
  width: 35%;
  height: 44px;
  border-radius: 9%;
  color: black;
  font-size: 1em;
  margin-left: 29%;	
  background-color: pink;
}
#customerSection{
	display: flex;
  	margin: 6% 0% 3% 36%;
  	float: left;
  	width: 41%;
}
.customerOrderBtn{
	margin-top: 5%;
	margin-right: 6%;
	width: 40%;
	background-color: pink;
}
.customerBtn{
	border-radius: 9%;
	color: black;
  	font-size: 1em;	
  	width: 86%;
  	border: none;
  	height: 44px;
  	background-color: pink;
  	
}
.addItemBtn{
	border-radius: 9%;
	color: black;
  	font-size: 1em;	
  	width: 10%;
  	border: none;
  	height: 44px;
  	background-color: pink;
}
.customerOrderHistoryBtn{
	border-radius: 9%;
	color: black;
  	font-size: 1em;	
  	width: 14%;
  	border: none;
  	height: 44px;
  	background-color: pink;
}
.createOrderBtn{
	border-radius: 9%;
	color: black;
  	font-size: 1em;	
  	width: 10%;
  	border: none;
  	height: 44px;	
  	background-color: pink;
}
#logout{
  margin-top: 1%;
  }
.logoutBtn{
	border-radius: 9%;
	color: black;
  	font-size: 1em;	
  	width: 10.4%;
  	border: none;	
  	height: 44px;
  	background-color: pink;
	text-decoration: underline;
}

.anotherClass
{
	margin-right: 1% !important;
	float: right;
}
#changeStatus{
	border-radius: 9%;
	color: black;
  	font-size: 1em;	
  	width: 10.4%;
  	border: none;	
  	height: 44px;
  	background-color: pink;
}
.orderHistoryBtn{
	border-radius: 9%;
	color: black;
  	font-size: 1em;	
  	width: 10.4%;
  	border: none;	
  	height: 44px;
  	background-color: pink;
}
